body {
    background-image: linear-gradient(20deg, transparent, rosybrown, gray);
}
h1 {
    text-align: center;
    color: rgb(122, 51, 51);
    font-weight: bolder;
    text-shadow: 1px 1px white;
}
#question {
    width: 70%;
    padding: 30px;
    border: 3px solid rosybrown;
    background-color: rgb(214, 185, 185);
    background-image: linear-gradient(transparent, rosybrown, gray);
    color: rgb(97, 44, 44);
    /* font-size: 28px; */
    margin: 0 auto;
}
#answer {
    width: 71.79%;
    margin: 10px auto;
    color: rgb(97, 44, 44);
    background-color: rosybrown;
    background-image: linear-gradient(transparent, rosybrown, gray);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
#answer ul {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
}
#answer ul li {
    width: 40%;
    height: 60px;
    background-color: rgb(226, 221, 221);
    background-image: linear-gradient(transparent, rosybrown, gray);
    color: rgb(134, 38, 38);
    padding-top: 15px;
    text-align: center;
    margin: 5px;
    font-weight: bolder;
}
#scores {
    display: flex;
    width: 74.70%;
    background-color: rosybrown;
    background-image: linear-gradient(transparent, rosybrown, gray);
    justify-content: center;
    margin: 10px auto;
}
#player1, #player2 {
    width: 40%;
    background-color: rgb(226, 221, 221);
    background-image: linear-gradient(transparent, rosybrown, gray);
    margin: 5px;
    color: rgb(119, 55, 55);
    text-align: center;
}
/* MEDIA QUERIES
/* for phones, tablets and small ipads */
 @media only screen and (min-width:320px)  { 
   #question {
    width: 50%;
    padding: 20px;
    border: 3px solid rosybrown;
    background-color: rgb(214, 185, 185);
    background-image: linear-gradient(transparent, rosybrown, gray);
    color: rgb(97, 44, 44);
    font-size: 28px;
    margin: 0 auto;
    }
    #answer {
    width: auto;
    margin: 0 auto;
    color: rgb(97, 44, 44);
    background-color: rosybrown;
    background-image: linear-gradient(transparent, rosybrown, gray);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    }
    #answer ul li {
    width: auto;
    height: auto;
    background-color: rgb(226, 221, 221);
    background-image: linear-gradient(transparent, rosybrown, gray);
    color: rgb(134, 38, 38);
    margin: 10px auto;
    font-weight: bolder;
    }
     #scores {
    display: flex;
    width: 65.90%;
    background-color: rosybrown;
    background-image: linear-gradient(transparent, rosybrown, gray);
    justify-content: center;
    margin: 0 auto;
    padding: 25px;
    }
 }
 @media (min-width:280px)  { 
   #question {
    width: 67%;
    padding: 20px;
    border: 3px solid rosybrown;
    background-color: rgb(214, 185, 185);
    background-image: linear-gradient(transparent, rosybrown, gray);
    color: rgb(97, 44, 44);
    font-size: 28px;
    margin: 5px auto;
    }
    #answer {
    width: 61%;
    margin: 0 auto;
    color: rgb(97, 44, 44);
    background-color: rosybrown;
    background-image: linear-gradient(transparent, rosybrown, gray);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    }
    #answer ul li {
    max-width: 100%;
    background-color: rgb(226, 221, 221);
    background-image: linear-gradient(transparent, rosybrown, gray);
    color: rgb(134, 38, 38);
    font-weight: bolder;
    padding: 60px;
}
     #scores {
    display: flex;
    width: 65.90%;
    background-color: rosybrown;
    background-image: linear-gradient(transparent, rosybrown, gray);
    justify-content: center;
    margin: 0 auto;
    padding: 25px;
    }
 }
 /* for laptops, ipads and desktops */
@media (min-width:1000px) { 
   #question {
    width: 70%;
    padding: 30px;
    border: 3px solid rosybrown;
    background-color: rgb(214, 185, 185);
    background-image: linear-gradient(transparent, rosybrown, gray);
    color: rgb(97, 44, 44);
    font-size: 28px;
    margin: 0 auto;
}
    #answer {
    width: 71.79%;
    margin: 10px auto;
    color: rgb(97, 44, 44);
    background-color: rosybrown;
    background-image: linear-gradient(transparent, rosybrown, gray);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
#answer ul {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
}
   #answer ul li {
    width: 40%;
    height: 60px;
    background-color: rgb(226, 221, 221);
    background-image: linear-gradient(transparent, rosybrown, gray);
    color: rgb(134, 38, 38);
    padding-top: 15px;
    text-align: center;
    margin: 5px;
    font-weight: bolder;
}
#scores {
    display: flex;
    width: 71%;
    background-color: rosybrown;
    background-image: linear-gradient(transparent, rosybrown, gray);
    justify-content: center;
    margin: 10px auto;
}
    #player1, #player2 {
    width: 40%;
    background-color: rgb(226, 221, 221);
    background-image: linear-gradient(transparent, rosybrown, gray);
    margin: 5px;
    color: rgb(119, 55, 55);
    text-align: center;
}
 } 